
.hero {
  height: 350px;
  background-image: url("img-style/hero-terni.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(37, 35, 35, 0.75);
  background-blend-mode: overlay;
  text-align: center;
  align-content: center;
  color: white;
  font-style: italic;
  font-size: large ;
}

.presentazione{
  display: flex;
  justify-content: space-around;
}

.intro{
  height: 200px;
  width: 500px;
  background:var(--bg-primary-color);
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  
}

.intro h1{
  border-bottom: 1px solid rgb(47, 46, 42);
}


.btn{
  display:flex;
  border-color: #b6aa8c;
  border-radius: 3px;
  border:none;
  background: var(--bg-primary-color);
  color: black;
  height: 50px;
  width: 150px;
  justify-content: space-between, center;
  align-items: center;
  text-align: center;
}

.btn:hover{
  cursor: pointer;
  height: 70px;
  background: var(--bg-secondary-color);
  width: 160px;
}

.div-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}



