.form_login{
    display: flex;
    flex-direction: column;
    padding: 30px 250px;
    margin-top: 10px;
}

.form_login label{
    margin-top: 10px;

}

.form_login input{
    background: var(--bg-forms);
    height: 25px;
    border: none;
}

.form_login button{
    background: var(--bg-forms-send);
    opacity:0.5;
    margin-top: 25px;
    height: 30px;
    border-radius: 2px;
}