.login {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px 250px;
    background: var();
    border: none;
}

.login input {
    margin-bottom: 15px;
    background: var(--bg-forms);
    opacity: 0.5;
}

.login button {
    background: var(--bg-forms-send);
    opacity: 0.5;
    color: white;
    padding: 7px;
}

.login input button {
    padding: 20px;
}

.login input {
    padding: 7px;
    border-radius: 4px;
}