h1{
    text-align: center;
    margin-top: 20px;
    justify-content: center;
}

#favorites-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center; 
  justify-items: center; 
  gap: 20px; 
  padding: 20px;
  border: 3px solid var(--bg-primary-color);
  border-radius: 5px;
  margin: 0 auto;
  max-width: 1300
}

#loadFavs{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: var(--bg-primary-color);
    
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 350px;
  width: 300px;
  background: var(--bg-primary-color);
  border: 2px solid var(--bg-secondary-color);
  border-radius: 8px;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
}

.remove-btn {
  background-color: var(--bg-secondary-color);
  border: 3px solid var(--bg-primary-color);
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  width: 160px;
  transition: transform 0.3s;
}