.scelta{
    display: flex;
    align-content: center;
    justify-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    height: 100%;
}

.filtro-container {
  max-width: 500px;
  border: 4px solid var(--bg-secondary-color);
  padding: 20px;
  gap:10px;
  border-radius: 6px;
  transition: transform 0.1s; 
}
.filtro-container:hover {
  transform: scale(1.02);
}

h3{
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--bg-primary-color);
  margin-bottom: 25px;
}

.filtro-opzioni label {
  display: block;
  margin: 8px 0;
  cursor: pointer;
}

.filtro-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  gap: 5px; 
}

.bottoni{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.fav-btn{
  background-color: var(--bg-secondary-color);
  border: 3px solid var(--bg-primary-color);
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  width: 160px;
  transition: transform 0.3s;
}

.fav-btn:hover {
  transform: scale(1.05);
}

.bottoni-2 {
  margin-top: 15px;
  padding: 8px 12px;
  background-color: var(--bg-primary-color);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

input[type="checkbox"] {
  accent-color: #61935e; 
}

input[type="radio"] {
  accent-color: rgb(100, 155, 107); 
}

.bottoni-2:hover {
  background-color: var(--bg-forms-send);
  cursor: pointer;
  
}

.results-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center; 
  justify-items: center; 
  gap: 20px; 
  padding: 20px;
  border: 3px solid var(--bg-primary-color);
  border-radius: 5px;
  margin: 0 auto;
  max-width: 1300
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 350px;
  width: 300px;
  background: var(--bg-primary-color);
  border: 2px solid var(--bg-secondary-color);
  border-radius: 8px;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
}

.restaurant-card:hover{
  transform: scale(1.02);
  
}

.restaurant-card h4{
 justify-content: center;
 align-items: center;
 margin-bottom: 3px;
 border-bottom: 3px solid var(--bg-secondary-color);
}

.restaurant-card p{
  margin-top: 6px;
}


#results {
  display: none;
}

@media (max-width: 600px) {
  .results-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .restaurant-card {
    width: 90%; 
  }
}
