@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root {
  --bg-primary-color:#F7F0E0;
}
/*NAVBAR*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  background:var(--bg-primary-color);
  height: 150px;
}

.nav-links{
  display: flex;
  justify-content: space-between;
}

.logo{
  height: 140px;
  width: 150px;
}

.logo-titolo{
  display: flex;
  align-items: center;
}

a {
  text-decoration: none; /* Rimuove la sottolineatura di default */
  color: #60553a; 
}


a :hover{
  cursor: pointer;
  text-decoration: underline;
}

/*BODY*/

.hero {
  height: 350px;
  background-image: url("img-style/hero-terni.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(37, 35, 35, 0.75);
  background-blend-mode: overlay;
  text-align: center;
  align-content: center;
  color: white;
  font-style: italic;
  font-size: large ;
}

.presentazione{
  display: flex;
  justify-content: space-around;
}

.intro{
  height: 200px;
  width: 500px;
  background: #F7F0E0;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  
}

.btn-prenota{
  border-color: #b6aa8c;
  border-radius: 3px;
  background: var(--bg-primary-color);
  color: black;
  height: 50px;
  width: 150px;
  justify-content: space-between;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/*FOOTER*/
.footer{
  display: flex;
  align-items: center;
  padding: 30px 20px;
  background:var(--bg-primary-color);
  height: 50px;
  position: sticky;
}


/* MEDIA QUERY*/
@media screen and(max-width:600px ){
  .presentazione{
    display: flex;
    flex-direction:column;
  }
}