@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root {
  --bg-primary-color:#879a66;
  --bg-secondary-color: #2F5E3F;
  --bg-forms: #d5d5d5;
  --bg-forms-send: #dcb747;
}

/*NAVBAR*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background-image:linear-gradient(to right,
   var(--bg-primary-color) 0% , 
   var(--bg-primary-color) 40%,
   white 100% );
  height: 150px;
  overflow: hidden;
}

.nav-links{
  display: flex;

  justify-content: space-between;
  gap: 20px;
}

.nav-links.active {
  display: flex;
  gap: 25px;
  

}

.logo{
  height: 150px;
  width: 180px;
}

.logo-titolo{
  display: flex;
  align-items: center;
  
}
.titolo{
  height: 150px;
  width: 100%;
  
}

a {
  text-decoration: none; 
  color: #60553a; 
}


a :hover{
  cursor: pointer;
  text-decoration: underline;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.active {
  text-decoration: underline; 
}

.intro {
  padding: 15px;
}

.div-btn {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 20px;
}

.btn {
  display: flex;
  justify-content: center; 
  align-items: center;     
  text-align: center;       
  background-color: var(--bg-forms-send);
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #5b4732;
}

.footer{
  display: flex;
  align-items: center;
  padding: 30px 20px;
  background:var(--bg-primary-color);
  height: 50px;
  position: sticky;
}

@media screen and (max-width:800px ){
  .presentazione{
    display: flex;
    flex-direction:column;
    gap: 25px;
    align-items: center;
  }

  .nav-links{
    display: none;
    flex-direction: column;
  }

  .menu-toggle {
    display: block;
  }

  .scelta{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

  }

  .result-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;

  }

  .bottoni{
    display: flex;
    flex-direction: column;
    gap:20px;
    
  }
}